<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partials/header.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/navbar.ejs %>
            <div class="row">
                <div class="col-sm-12" style="padding-bottom:20px">
                    <h1>ECFMG Trailblazer Leaderboard</h1>
                    <% include ../partials/addTrailblazer.ejs %>
                </div>
            </div>
        
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-columns">
                        <div class="card">
                            <div class="card-body">
                            <h4 class="card-title">Newest Trailblazers</h4>
                            <ol>
                            <% if(newestTrailblazers){ 
                                newestTrailblazers.forEach(function(newestTrailblazer,index){ %>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6 <%= (index == 0) ? 'font-weight-bold' : '' %>">
                                            <a href="/trailblazer/details/<%= newestTrailblazer.trailblazerId %>"><%= newestTrailblazer.full_name %></a>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <span class="badge <%= (index < 5) ? 'badge-primary' : 'badge-info' %>"><%= newestTrailblazer.created_at %></span> 
                                        </div>
                                    </div>
                                </li>
                            <% });} %>
                            </ol>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                            <h4 class="card-title">Badge Leaders</h4>
                            <ol>
                            <% if(badgeLeaders){ 
                                badgeLeaders.forEach(function(badgeLeader,index){ %>
                                <li>
                                <div class="row">
                                    <div class="col-sm-6 <%= (index == 0) ?  'font-weight-bold' : '' %>">
                                        <a href="/trailblazer/details/<%= badgeLeader.trailblazerId %>"><%= badgeLeader.full_name %></a>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <span class="badge <%= (index < 5) ? 'badge-primary' : 'badge-info' %>"><%= badgeLeader.badgeCount %></span>
                                    </div>
                                    </div>
                                </li>
                            <% });}%>
                            </ol>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                            <h4 class="card-title">Point Leaders</h4>
                            <ol>
                            <% if(pointLeaders){ 
                                pointLeaders.forEach(function(pointLeader,index){ %>
                                <li>
                                    <div class="row">
                                        <div class="col-sm-6 <%= (index == 0) ?  'font-weight-bold' : '' %>">
                                            <a href="/trailblazer/details/<%= pointLeader.trailblazerId %>"><%= pointLeader.full_name %></a>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            
                                            <span class="badge <%= (index < 5) ? 'badge-primary' : 'badge-info' %>"><%= pointLeader.points %></span>
                                        </div>
                                    </div>
                                </li>
                            <% });} %>
                            </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </body>
</html>